/* font */
@font-face {
    font-family: roboto-bold;
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

:root {
    --tomato: hsl(4,100%, 67%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --dark-slide:  hsl(237, 27%, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: roboto-regular;
}

.container {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

h1 {
    color: var(--dark-slide);
    font-family: roboto-bold;
    font-size: 3rem;
}

p {
    font-family: roboto-regular;
}

main ul {
    margin: 2rem 0;
}

main li {
    display: flex;
    margin: 1rem;
    font-family: roboto-regular;
    margin-left: 2rem;
    list-style: none;
    
}

main li img {
   margin-right: 1rem;
}

main div p {
    font-family: roboto-bold;
}

#email {
    margin-top: 0.5rem;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 1rem;
}

.button-subscribe {
    display: block;
    width: 100%;
    height: 3rem;
    color: var(--White);
    font-weight: 700;
    border: 1px solid --dark-slide;
    border-radius: 1rem;
    background: var(--dark-slide);
}

aside img {
    padding: 1rem;
}

.img-mobile{
    display: none;
}



/* sign-up */
#sign-up {
    background: #a35656;
    padding: 1rem;  

    display: ;
}

#sign-up h1 {
    font-size: 3rem;
}

#sign-up p {
    font-weight: 400;
    margin-top: 0.3rem;
}

#sign-up img{
    height: 3rem;
}

#dismiss-message {
    width: 100%;
    height: 3rem;
    color: var(--White);
    font-weight: 700;
    border: 1px solid --dark-slide;
    border-radius: 0.5rem;
    background: var(--dark-slide);
}

/* media queries*/
@media (max-width: 700px) {
    body {
        display: block;
    }

    .container {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: left;
        gap: 0;
    }

    main ul {
        margin: 1rem 0;
    }

    aside img {
        padding: 0;
        width: 100%;
    }

    .img-mobile {
        display: block;
    }

    .img-desktop{
        display: none;
    }
}

/* boot css */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.txt-center {
    text-align: center;
}